.scaffold {
  width: 100%;
  height: 100vh;
  position: relative;
  flex: 1;
  font-family: 'TTNorms';
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scaffold>h2{
  font-weight: bold;
}

.subtitle {
  color: gray;
  align-items: center;
  justify-content: center;
}
.form {
  margin-top: 20px;
}
.linkBtn {
  padding: 0px;
  margin: 0px;
}
.linkBtnContainer {
  width: 100%;
  align-content: center;
  justify-content: center;
}
.bookBg{
  position: absolute;
}